{% extends 'AppEntrega/base.html' %}

{% load static %}

{% block titulo %}
    inicio
{% endblock titulo %}

{% block main %}

<section class="py-5 border-bottom" id="features">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0">
                
                
                <p></p>
            
                    
                </a>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h2 class="h4 fw-bolder">Sistema de almacenamiento de datos para una institucion</h2>
                <p>En el siguiente programa vamos a poder almanzenando datos como alumnos, cursos y profesores.
                    Tambien poder filtrar, buscar y eliminar para una mejor gestion
                </p>
                <a class="text-decoration-none" href="#!">
                   
                </a>
            </div>
            <div class="col-lg-4">
                
                <p></p>
                
                </a>
            </div>
        </div>
    </div>
</section>

{% endblock main %}