{% extends 'AppEntrega/base.html' %}

{% load static %}

{% block titulo %}
    PROFESORES
{% endblock titulo %}

{% block header %}
        <header class="bg-dark py-5">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center my-5">
                            <h1 class="display-5 fw-bolder text-white mb-2">PROFESORES</h1>
                            <p class="lead text-white-50 mb-4">Lista de profesores</p>
                            <a href="{% url 'profesores' %}" type="button" class="btn btn-light">Agregar profesor</a>
                            <a href="{% url 'buscar_profesor' %}" type="button" class="btn btn-light">Buscar profesor</a>
                        </div>
                    </div>
                </div> 
            </div>
        </header>
        {% endblock header %}

{% block main %}

{% for p in profesores %}
<div class="card text-white bg-secondary mb-3" style="width: 40rem; margin-left: 35rem;">
    <div class="card-body">
        <h4 class="card-title">Nombre: {{ p.nombre }}</h4>
        <h5 class="card-title">Apellido: {{ p.apellido }}</h5>
    </div>
    <a href="{% url 'eliminar_profesor' p.id %}" type="button" class="btn btn-light">Eliminar</a>
    <a href="{% url 'profesor_detalle' p.id %}" type="button" class="btn btn-light">Detalle</a>
  </div>
{% endfor %}


{% endblock main %}